<div id = "chatbox">
</div>


<div>
	<%= form_tag "/messages/create", method: "post", remote: true do %>
		<%= text_field_tag :name, nil, placeholder: "이름" %>
		<%= text_field_tag :content %>
		<%= submit_tag "전송" %>
	<% end %>
</div>